<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-with-id-string-details-heading" jhiTranslate="compositekeyApp.withIdStringDetails.home.createOrEditLabel">Create or edit a With Id String Details</h2>
            <div class="form-grid ui-fluid">
                <div class="p-field p-grid">
                    <label jhiTranslate="compositekeyApp.withIdStringDetails.name" for="field_name" class="p-col-12 p-md-2">Name</label>
                    <div class="p-col-12 p-md-10">
                        <input pInputText type="text" name="name" id="field_name" formControlName="name"/>
                    </div>
                </div>
                    <div class="p-field p-grid">
                        <label jhiTranslate="compositekeyApp.withIdStringDetails.withIdString" for="field_withIdString" class="p-col-12 p-md-2">With Id String</label>
                        <div class="p-col-12 p-md-10">
                                <p-dropdown id="field_withIdString" name="withIdString" [options]="withIdStringOptions!" formControlName="withIdString" [readonly]="edit"
                                            [virtualScroll]="true" [lazy]="true" [rows]="10" (onLazyLoad)="onWithIdStringLazyLoadEvent($event)" [lazyLoadOnInit]="true" [filter]="true"
                                            placeholder="Choose" optionLabel="id" [showClear]="true"></p-dropdown>
                        </div>
                    </div>
            </div>


            <div>
                <button pButton type="button" id="cancel-save" icon="pi pi-ban" class="ui-button-secondary" (click)="previousState()" [label]="'entity.action.cancel' | translate"></button>
                <button pButton type="submit" id="save-entity" icon="pi pi-save" [disabled]="editForm.invalid || isSaving" [label]="'entity.action.save' | translate"></button>
            </div>
        </form>
    </div>
</div>
