<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-employee-skill-certificate-heading" jhiTranslate="compositekeyApp.employeeSkillCertificate.home.createOrEditLabel">Create or edit a Employee Skill Certificate</h2>
            <div class="form-grid ui-fluid">
                    <div class="p-field p-grid">
                        <label jhiTranslate="compositekeyApp.employeeSkillCertificate.grade" for="field_grade" class="p-col-12 p-md-2">Grade</label>
                        <div class="p-col-12 p-md-10">
                            <input pInputText type="number" name="grade" id="field_grade" formControlName="grade"/>
                            <div class="validation-messages">
                                <ng-container *ngIf="editForm.get('grade')!.invalid && (editForm.get('grade')!.dirty || editForm.get('grade')!.touched)">
                                    <p-message severity="error"
                                               *ngIf="editForm.get('grade')!.errors!.required" [text]="'entity.validation.required' | translate">
                                    </p-message>
                                    <p-message severity="error"
                                        [hidden]="!editForm.get('grade')!.errors!.number" [text]="'entity.validation.number' | translate">
                                    </p-message>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="p-field p-grid">
                        <label jhiTranslate="compositekeyApp.employeeSkillCertificate.date" for="field_date" class="p-col-12 p-md-2">Date</label>
                        <div class="p-col-12 p-md-10">
                            <p-calendar id="field_date" formControlName="date" [showIcon]="true"></p-calendar>
                            <div class="validation-messages">
                                <ng-container *ngIf="editForm.get('date')!.invalid && (editForm.get('date')!.dirty || editForm.get('date')!.touched)">
                                    <p-message severity="error"
                                               *ngIf="editForm.get('date')!.errors!.required" [text]="'entity.validation.required' | translate">
                                    </p-message>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                <ng-container formGroupName="type">
                    <div class="p-field p-grid">
                        <label jhiTranslate="compositekeyApp.employeeSkillCertificate.type" for="field_type" class="p-col-12 p-md-2">Certificate Type</label>
                        <div class="p-col-12 p-md-10">
                            <p-dropdown id="field_type" name="id" [options]="typeOptions!" formControlName="id" [readonly]="edit"
                                        [virtualScroll]="true" [lazy]="true" [rows]="10" (onLazyLoad)="onTypeLazyLoadEvent($event)" [lazyLoadOnInit]="false" [filter]="true"
                                        placeholder="Choose" optionLabel="name" optionValue="id"></p-dropdown>
                                <div class="validation-messages">
                                    <ng-container *ngIf="typeForm.get('id')!.invalid && (typeForm.get('id')!.dirty || typeForm.get('id')!.touched)">
                                        <p-message severity="error"
                                                   *ngIf="typeForm.get('id')!.errors!.required" [text]="'entity.validation.required' | translate">
                                        </p-message>
                                    </ng-container>
                                </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container formGroupName="skill">
                    <ng-container formGroupName="employee">
                        <div class="p-field p-grid">
                            <label jhiTranslate="compositekeyApp.employeeSkillCertificate.employee" for="field_employee" class="p-col-12 p-md-2">Employee</label>
                            <div class="p-col-12 p-md-10">
                                <p-dropdown id="field_employee" name="username" [options]="employeeOptions!" formControlName="username" [readonly]="edit"
                                            [virtualScroll]="true" [lazy]="true" [rows]="10" (onLazyLoad)="onEmployeeLazyLoadEvent($event)"
                                            [lazyLoadOnInit]="false" [filter]="true"
                                            placeholder="Choose" optionLabel="fullname" optionValue="username"></p-dropdown>
                                <div class="validation-messages">
                                    <ng-container *ngIf="employeeForm.get('username')!.invalid && (employeeForm.get('username')!.dirty || employeeForm.get('username')!.touched)">
                                        <p-message severity="error"
                                                   *ngIf="employeeForm.get('username')!.errors!.required" [text]="'entity.validation.required' | translate">
                                        </p-message>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <div class="p-field p-grid" *ngIf="skillOptions">
                        <label jhiTranslate="compositekeyApp.employeeSkillCertificate.skill" for="field_skill" class="p-col-12 p-md-2">Employee Skill</label>
                        <div class="p-col-12 p-md-10">
                            <p-dropdown id="field_skill" name="name" [options]="skillOptions!" formControlName="name" [readonly]="edit"
                                        [virtualScroll]="true" [lazy]="true" [rows]="10" (onLazyLoad)="onSkillLazyLoadEvent($event)" [resetFilterOnHide]="true"
                                        [lazyLoadOnInit]="false" [filter]="true"
                                        placeholder="Choose" optionLabel="name" optionValue="name"></p-dropdown>
                                <div class="validation-messages">
                                    <ng-container *ngIf="skillForm.get('name')!.invalid && (skillForm.get('name')!.dirty || skillForm.get('name')!.touched)">
                                        <p-message severity="error"
                                                   *ngIf="skillForm.get('name')!.errors!.required" [text]="'entity.validation.required' | translate">
                                        </p-message>
                                    </ng-container>
                                </div>
                        </div>
                    </div>
                </ng-container>
            </div>


            <div>
                <button pButton type="button" id="cancel-save" icon="pi pi-ban" class="ui-button-secondary" (click)="previousState()" [label]="'entity.action.cancel' | translate"></button>
                <button pButton type="submit" id="save-entity" icon="pi pi-save" [disabled]="editForm.invalid || isSaving" [label]="'entity.action.save' | translate"></button>
            </div>
        </form>
    </div>
</div>
